body {
  background-color: #383838;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p.info {
  font-size: x-small;
}

.name {
  color: #008cff;
}

a {
  color: #008cff;
}

button {
  font-size: medium;
}

.TLDR {
  color: lightgray;
  /*Line below from https://www.w3schools.com/cssref/pr_text_text-decoration.php */
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* The next 2 styles are from ChatGPT to help with mobile support. */
.pdf {
  width: 100%;
  height: 80vh;
  border: none;
}

@media (max-width: 600px) {
  .pdf-viewer {
    height: 70vh;
  }
}